In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt

In [2]:
#Read in the original csv file
MD_traffic = pd.read_csv('../data/Maryland_Statewide_Vehicle_Crashes.csv', low_memory=False)

#Data Source: https://opendata.maryland.gov/Public-Safety/Maryland-Statewide-Vehicle-Crashes/65du-s3qu

In [4]:
MD_traffic.info()
#YEAR
#COUNTY_DESC

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688042 entries, 0 to 688041
Data columns (total 56 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   688042 non-null  int64
 1   QUARTER                688042 non-null  object
 2   LIGHT_DESC             663424 non-null  object
 3   LIGHT_CODE             688042 non-null  float64
 4   COUNTY_DESC            688038 non-null  object
 5   COUNTY_NO              688038 non-null  float64
 6   MUNI_DESC              0 non-null       float64
 7   MUNI_CODE              508067 non-null  float64
 8   JUNCTION_DESC          596507 non-null  object
 9   JUNCTION_CODE          618629 non-null  float64
 10  COLLISION_TYPE_DESC    688042 non-null  object
 11  COLLISION_TYPE_CODE    688042 non-null  int64
 12  SURF_COND_DESC         616520 non-null  object
 13  SURF_COND_CODE         618629 non-null  float64
 14  LANE_DESC              521692 non-null  object
 15  LANE_CODE              521700 non-null  float64
 16  RD_COND_DESC           618629 non-null  object
 17  RD_COND_CODE           618629 non-null  float64
 18  RD_DIV_DESC            614851 non-null  object
 19  RD_DIV_CODE            618629 non-null  float64
 20  FIX_OBJ_DESC           651157 non-null  object
 21  FIX_OBJ_CODE           688042 non-null  float64
 22  REPORT_NO              688042 non-null  object
 23  REPORT_TYPE            577309 non-null  object
 24  WEATHER_DESC           407218 non-null  object
 25  WEATHER_CODE           688042 non-null  float64
 26  ACC_DATE               688042 non-null  int64
 27  ACC_TIME               688042 non-null  object
 28  LOC_CODE               321016 non-null  object
 29  SIGNAL_FLAG_DESC       688042 non-null  object
 30  SIGNAL_FLAG            688042 non-null  object
 31  C_M_ZONE_FLAG          688042 non-null  object
 32  AGENCY_CODE            688042 non-null  object
 33  AREA_CODE              688042 non-null  object
 34  HARM_EVENT_DESC1       92583 non-null   object
 35  HARM_EVENT_CODE1       688042 non-null  float64
 36  HARM_EVENT_DESC2       688042 non-null  object
 37  HARM_EVENT_CODE2       688042 non-null  float64
 38  RTE_NO                 550768 non-null  float64
 39  ROUTE_TYPE_CODE        552529 non-null  object
 40  RTE_SUFFIX             14032 non-null   object
 41  LOG_MILE               615132 non-null  float64
 42  LOGMILE_DIR_FLAG_DESC  555645 non-null  object
 43  LOGMILE_DIR_FLAG       555653 non-null  object
 44  MAINROAD_NAME          618622 non-null  object
 45  DISTANCE               600093 non-null  float64
 46  FEET_MILES_FLAG_DESC   130909 non-null  object
 47  FEET_MILES_FLAG        618628 non-null  object
 48  DISTANCE_DIR_FLAG      615251 non-null  object
 49  REFERENCE_NO           543570 non-null  float64
 50  REFERENCE_TYPE_CODE    552782 non-null  object
 51  REFERENCE_SUFFIX       14779 non-null   object
 52  REFERENCE_ROAD_NAME    618116 non-null  object
 53  LATITUDE               688042 non-null  float64
 54  LONGITUDE              688042 non-null  float64
 55  LOCATION               688042 non-null  object
dtypes: float64(19), int64(3), object(34)
memory usage: 294.0+ MB

In [5]:
#trimming to the columns I care about
#new = old[['A', 'C', 'D']].copy()

MD_traffic1 = MD_traffic[['YEAR','COUNTY_DESC']].copy()

In [6]:
MD_traffic1.info()  #688042 rows with some NULLS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688042 entries, 0 to 688041
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   YEAR         688042 non-null  int64
 1   COUNTY_DESC  688038 non-null  object
dtypes: int64(1), object(1)
memory usage: 10.5+ MB

In [8]:
#Trim trim
MD_counties = ['Garrett']
MD_traffic2 = MD_traffic1[(MD_traffic1['COUNTY_DESC'].isin(MD_counties))]

In [10]:
MD_traffic2.info() #3157 rows, also must have dropped the NULLs - no NULLS

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157 entries, 72 to 687918
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YEAR         3157 non-null   int64
 1   COUNTY_DESC  3157 non-null   object
dtypes: int64(1), object(1)
memory usage: 74.0+ KB

In [11]:
## Export
MD_traffic2.to_csv('MD_traffic_final.csv', index = False, header=True)