In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt

In [3]:
#Read in the original csv file
NYCrime = pd.read_csv('../data/NY_State_crimes_by_County_Year.csv', low_memory=False)

#Data Source: https://data.ny.gov/Public-Safety/Index-Crimes-by-County-and-Agency-Beginning-1990/ca8h-8gjq

In [4]:
NYCrime.info #20596 rows

<bound method DataFrame.info of        County                      Agency  Year  Months Reported  Index Total  \
0      Albany              Albany City PD  2019             12.0       3661.0
1      Albany       Albany County Park PD  2019             12.0          2.0
2      Albany       Albany County Sheriff  2019             12.0        148.0
3      Albany  Albany County State Police  2019             12.0        150.0
4      Albany              Altamont Vg PD  2019             12.0          5.0
...       ...                         ...   ...              ...          ...
20591   Yates                County Total  1990              NaN        507.0
20592   Yates              Penn Yan Vg PD  1990              NaN        142.0
20593   Yates        Yates County Park PD  1990              NaN          1.0
20594   Yates        Yates County Sheriff  1990              NaN        318.0
20595   Yates   Yates County State Police  1990              NaN         46.0

       Violent Total  Murder  Rape  Robbery  Aggravated Assault  \
0              735.0     4.0  61.0    189.0               481.0
1                1.0     0.0   0.0      0.0                 1.0
2               25.0     1.0   4.0      1.0                19.0
3               30.0     0.0  22.0      3.0                 5.0
4                0.0     0.0   0.0      0.0                 0.0
...              ...     ...   ...      ...                 ...
20591           34.0     0.0   5.0      0.0                29.0
20592            3.0     0.0   1.0      0.0                 2.0
20593            0.0     0.0   0.0      0.0                 0.0
20594           29.0     0.0   4.0      0.0                25.0
20595            2.0     0.0   0.0      0.0                 2.0

       Property Total  Burglary  Larceny  Motor Vehicle Theft  \
0              2926.0     446.0   2321.0                159.0
1                 1.0       0.0      1.0                  0.0
2               123.0      22.0     91.0                 10.0
3               120.0       3.0    116.0                  1.0
4                 5.0       1.0      4.0                  0.0
...               ...       ...      ...                  ...
20591           473.0     104.0    361.0                  8.0
20592           139.0      11.0    123.0                  5.0
20593             1.0       0.0      1.0                  0.0
20594           289.0      84.0    202.0                  3.0
20595            44.0       9.0     35.0                  0.0

                  Region
0      Non-New York City
1      Non-New York City
2      Non-New York City
3      Non-New York City
4      Non-New York City
...                  ...
20591  Non-New York City
20592  Non-New York City
20593  Non-New York City
20594  Non-New York City
20595  Non-New York City

[20596 rows x 15 columns]>

In [25]:
#Trim to relevant (cicada) counties and years

#New York counties (Brood V in 2016)
NY_counties_2016 = ['Suffolk']
BroodVyears=[2013,2014,2015,2016,2017,2018]


#New York counties (Brood VII in 2018)
NY_counties_2018 = ['Cayuga',
'Onondaga',
'Livingston']
BroodVIIyears=[2014,2015,2016,2017,2018,2019]

In [26]:
NYCrime2016 = NYCrime[(NYCrime['County'].isin(NY_counties_2016)) & 
                 (NYCrime['Year'].isin(BroodVyears))]

In [35]:
NYCrime2016.info() #149 rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 1119 to 4385
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   County               149 non-null    object
 1   Agency               149 non-null    object
 2   Year                 149 non-null    int64
 3   Months Reported      143 non-null    float64
 4   Index Total          149 non-null    float64
 5   Violent Total        149 non-null    float64
 6   Murder               149 non-null    float64
 7   Rape                 149 non-null    float64
 8   Robbery              149 non-null    float64
 9   Aggravated Assault   149 non-null    float64
 10  Property Total       149 non-null    float64
 11  Burglary             149 non-null    float64
 12  Larceny              149 non-null    float64
 13  Motor Vehicle Theft  149 non-null    float64
 14  Region               149 non-null    object
dtypes: float64(11), int64(1), object(3)
memory usage: 18.6+ KB

In [29]:
NYCrime2018 = NYCrime[(NYCrime['County'].isin(NY_counties_2018)) & 
                 (NYCrime['Year'].isin(BroodVIIyears))]

In [30]:
NYCrime2018.info() #228 rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228 entries, 48 to 3542
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   County               228 non-null    object
 1   Agency               228 non-null    object
 2   Year                 228 non-null    int64
 3   Months Reported      210 non-null    float64
 4   Index Total          228 non-null    float64
 5   Violent Total        228 non-null    float64
 6   Murder               228 non-null    float64
 7   Rape                 228 non-null    float64
 8   Robbery              228 non-null    float64
 9   Aggravated Assault   228 non-null    float64
 10  Property Total       228 non-null    float64
 11  Burglary             228 non-null    float64
 12  Larceny              228 non-null    float64
 13  Motor Vehicle Theft  228 non-null    float64
 14  Region               228 non-null    object
dtypes: float64(11), int64(1), object(3)
memory usage: 28.5+ KB

In [36]:
##Bring data back together
NYCrimetrim = pd.concat([NYCrime2016, NYCrime2018],axis=0)

In [32]:
NYCrimetrim.info #377 rows, perfect

<bound method DataFrame.info of         County                               Agency  Year  Months Reported  \
1119   Suffolk                     Amityville Vg PD  2018             12.0
1120   Suffolk                      Asharoken Vg PD  2018             12.0
1121   Suffolk                         County Total  2018              NaN
1122   Suffolk                 East Hampton Town PD  2018             12.0
1123   Suffolk                   East Hampton Vg PD  2018             12.0
...        ...                                  ...   ...              ...
3538  Onondaga                    Skaneateles Vg PD  2014             12.0
3539  Onondaga                         Solvay Vg PD  2014             12.0
3540  Onondaga  SUNY Police - Environmental Science  2014             12.0
3541  Onondaga        SUNY Police - Upstate Medical  2014             12.0
3542  Onondaga                     Syracuse City PD  2014             12.0

      Index Total  Violent Total  Murder   Rape  Robbery  Aggravated Assault  \
1119        107.0            8.0     0.0    0.0      2.0                 6.0
1120          2.0            0.0     0.0    0.0      0.0                 0.0
1121      18948.0         1510.0    21.0  207.0    423.0               859.0
1122        189.0           11.0     0.0    2.0      1.0                 8.0
1123         36.0            1.0     0.0    0.0      0.0                 1.0
...           ...            ...     ...    ...      ...                 ...
3538          7.0            1.0     0.0    0.0      0.0                 1.0
3539        162.0           19.0     0.0    0.0      6.0                13.0
3540         12.0            2.0     0.0    0.0      0.0                 2.0
3541         87.0            3.0     0.0    1.0      1.0                 1.0
3542       6898.0         1143.0    20.0   49.0    406.0               668.0

      Property Total  Burglary  Larceny  Motor Vehicle Theft  \
1119            99.0       6.0     84.0                  9.0
1120             2.0       1.0      1.0                  0.0
1121         17438.0    1216.0  15259.0                963.0
1122           178.0      17.0    160.0                  1.0
1123            35.0       2.0     31.0                  2.0
...              ...       ...      ...                  ...
3538             6.0       0.0      6.0                  0.0
3539           143.0      26.0    109.0                  8.0
3540            10.0       1.0      9.0                  0.0
3541            84.0       1.0     81.0                  2.0
3542          5755.0    1404.0   3986.0                365.0

                 Region
1119  Non-New York City
1120  Non-New York City
1121  Non-New York City
1122  Non-New York City
1123  Non-New York City
...                 ...
3538  Non-New York City
3539  Non-New York City
3540  Non-New York City
3541  Non-New York City
3542  Non-New York City

[377 rows x 15 columns]>

## Going to use the 'County Total' rows for the sum of each crime per year per county

In [37]:
#>gapminder_2002 = gapminder[gapminder.year.eq(2002)]
NY_County_Crime_Totals = NYCrimetrim[NYCrimetrim.Agency.eq('County Total')]

In [38]:
NY_County_Crime_Totals

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
1121,Suffolk,County Total,2018,NaN,18948.0,1510.0,21.0,207.0,423.0,859.0,17438.0,1216.0,15259.0,963.0,Non-New York City
1763,Suffolk,County Total,2017,NaN,21462.0,1749.0,22.0,161.0,537.0,1029.0,19713.0,1679.0,16928.0,1106.0,Non-New York City
2410,Suffolk,County Total,2016,NaN,23092.0,1896.0,33.0,151.0,612.0,1100.0,21196.0,2132.0,17891.0,1173.0,Non-New York City
3054,Suffolk,County Total,2015,NaN,24496.0,2010.0,25.0,167.0,732.0,1086.0,22486.0,2591.0,18650.0,1245.0,Non-New York City
3709,Suffolk,County Total,2014,NaN,26121.0,1765.0,29.0,50.0,633.0,1053.0,24356.0,3338.0,19775.0,1243.0,Non-New York City
4362,Suffolk,County Total,2013,NaN,26379.0,1934.0,27.0,53.0,694.0,1160.0,24445.0,3610.0,19656.0,1179.0,Non-New York City
52,Cayuga,County Total,2019,NaN,1212.0,152.0,0.0,60.0,14.0,78.0,1060.0,128.0,894.0,38.0,Non-New York City
216,Livingston,County Total,2019,NaN,599.0,61.0,0.0,33.0,8.0,20.0,538.0,68.0,465.0,5.0,Non-New York City
312,Onondaga,County Total,2019,NaN,9917.0,1523.0,19.0,228.0,313.0,963.0,8394.0,1295.0,6317.0,782.0,Non-New York City
678,Cayuga,County Total,2018,NaN,1238.0,197.0,0.0,47.0,30.0,120.0,1041.0,135.0,862.0,44.0,Non-New York City
846,Livingston,County Total,2018,NaN,635.0,58.0,0.0,23.0,5.0,30.0,577.0,61.0,495.0,21.0,Non-New York City
943,Onondaga,County Total,2018,NaN,9949.0,1374.0,28.0,194.0,336.0,816.0,8575.0,1307.0,6557.0,711.0,Non-New York City
1314,Cayuga,County Total,2017,NaN,1369.0,246.0,1.0,81.0,23.0,141.0,1123.0,190.0,908.0,25.0,Non-New York City
1489,Livingston,County Total,2017,NaN,809.0,56.0,0.0,24.0,6.0,26.0,753.0,77.0,648.0,28.0,Non-New York City
1585,Onondaga,County Total,2017,NaN,10893.0,1429.0,24.0,211.0,355.0,839.0,9464.0,1744.0,7146.0,574.0,Non-New York City
1958,Cayuga,County Total,2016,NaN,1428.0,184.0,1.0,64.0,17.0,102.0,1244.0,241.0,972.0,31.0,Non-New York City
2133,Livingston,County Total,2016,NaN,886.0,91.0,4.0,25.0,8.0,54.0,795.0,120.0,652.0,23.0,Non-New York City
2232,Onondaga,County Total,2016,NaN,11116.0,1415.0,34.0,156.0,398.0,827.0,9701.0,1684.0,7505.0,512.0,Non-New York City
2609,Cayuga,County Total,2015,NaN,1553.0,196.0,0.0,67.0,14.0,115.0,1357.0,224.0,1099.0,34.0,Non-New York City
2780,Livingston,County Total,2015,NaN,885.0,77.0,0.0,35.0,7.0,35.0,808.0,129.0,652.0,27.0,Non-New York City
2877,Onondaga,County Total,2015,NaN,11574.0,1500.0,24.0,149.0,432.0,895.0,10074.0,1850.0,7785.0,439.0,Non-New York City
3256,Cayuga,County Total,2014,NaN,1556.0,138.0,0.0,23.0,15.0,100.0,1418.0,232.0,1151.0,35.0,Non-New York City
3427,Livingston,County Total,2014,NaN,896.0,47.0,1.0,5.0,6.0,35.0,849.0,155.0,677.0,17.0,Non-New York City
3525,Onondaga,County Total,2014,NaN,12957.0,1493.0,20.0,82.0,497.0,894.0,11464.0,2249.0,8715.0,500.0,Non-New York City

In [39]:
#Export!
NY_County_Crime_Totals.to_csv('NY_County_Crime_Totals.csv',index = False, header=True)

In [33]:
#Export!
NYCrimetrim.to_csv('NYCrime.csv', index = False, header=True)