In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import json
import re

In [3]:
#Read in the original csv file
NYCrime = pd.read_csv('../data/NY_State_crimes_by_County_Year.csv', low_memory=False)

In [4]:
NYCrime.info #20596 rows

<bound method DataFrame.info of        County                      Agency  Year  Months Reported  Index Total  \
0      Albany              Albany City PD  2019             12.0       3661.0
1      Albany       Albany County Park PD  2019             12.0          2.0
2      Albany       Albany County Sheriff  2019             12.0        148.0
3      Albany  Albany County State Police  2019             12.0        150.0
4      Albany              Altamont Vg PD  2019             12.0          5.0
...       ...                         ...   ...              ...          ...
20591   Yates                County Total  1990              NaN        507.0
20592   Yates              Penn Yan Vg PD  1990              NaN        142.0
20593   Yates        Yates County Park PD  1990              NaN          1.0
20594   Yates        Yates County Sheriff  1990              NaN        318.0
20595   Yates   Yates County State Police  1990              NaN         46.0

       Violent Total  Murder  Rape  Robbery  Aggravated Assault  \
0              735.0     4.0  61.0    189.0               481.0
1                1.0     0.0   0.0      0.0                 1.0
2               25.0     1.0   4.0      1.0                19.0
3               30.0     0.0  22.0      3.0                 5.0
4                0.0     0.0   0.0      0.0                 0.0
...              ...     ...   ...      ...                 ...
20591           34.0     0.0   5.0      0.0                29.0
20592            3.0     0.0   1.0      0.0                 2.0
20593            0.0     0.0   0.0      0.0                 0.0
20594           29.0     0.0   4.0      0.0                25.0
20595            2.0     0.0   0.0      0.0                 2.0

       Property Total  Burglary  Larceny  Motor Vehicle Theft  \
0              2926.0     446.0   2321.0                159.0
1                 1.0       0.0      1.0                  0.0
2               123.0      22.0     91.0                 10.0
3               120.0       3.0    116.0                  1.0
4                 5.0       1.0      4.0                  0.0
...               ...       ...      ...                  ...
20591           473.0     104.0    361.0                  8.0
20592           139.0      11.0    123.0                  5.0
20593             1.0       0.0      1.0                  0.0
20594           289.0      84.0    202.0                  3.0
20595            44.0       9.0     35.0                  0.0

                  Region
0      Non-New York City
1      Non-New York City
2      Non-New York City
3      Non-New York City
4      Non-New York City
...                  ...
20591  Non-New York City
20592  Non-New York City
20593  Non-New York City
20594  Non-New York City
20595  Non-New York City

[20596 rows x 15 columns]>

In [6]:
#Trim to relevant (cicada) counties and years

#New York counties (Brood V in 2016)
NY_counties_2016 = ['Suffolk']
BroodVyears=[2015,2016,2017]


#New York counties (Brood VII in 2018)
NY_counties_2018 = ['Cayuga',
'Onondaga',
'Livingston']
BroodVIIyears=[2017,2018,2019]

In [7]:
NYCrime2016 = NYCrime[(NYCrime['County'].isin(NY_counties_2016)) & 
                 (NYCrime['Year'].isin(BroodVyears))]

In [10]:
NYCrime2016.info() #74 rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 1761 to 3076
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   County               74 non-null     object
 1   Agency               74 non-null     object
 2   Year                 74 non-null     int64
 3   Months Reported      71 non-null     float64
 4   Index Total          74 non-null     float64
 5   Violent Total        74 non-null     float64
 6   Murder               74 non-null     float64
 7   Rape                 74 non-null     float64
 8   Robbery              74 non-null     float64
 9   Aggravated Assault   74 non-null     float64
 10  Property Total       74 non-null     float64
 11  Burglary             74 non-null     float64
 12  Larceny              74 non-null     float64
 13  Motor Vehicle Theft  74 non-null     float64
 14  Region               74 non-null     object
dtypes: float64(11), int64(1), object(3)
memory usage: 9.2+ KB

In [11]:
NYCrime2018 = NYCrime[(NYCrime['County'].isin(NY_counties_2018)) & 
                 (NYCrime['Year'].isin(BroodVIIyears))]

In [12]:
NYCrime2018.info() #110 rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 48 to 1601
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   County               110 non-null    object
 1   Agency               110 non-null    object
 2   Year                 110 non-null    int64
 3   Months Reported      101 non-null    float64
 4   Index Total          110 non-null    float64
 5   Violent Total        110 non-null    float64
 6   Murder               110 non-null    float64
 7   Rape                 110 non-null    float64
 8   Robbery              110 non-null    float64
 9   Aggravated Assault   110 non-null    float64
 10  Property Total       110 non-null    float64
 11  Burglary             110 non-null    float64
 12  Larceny              110 non-null    float64
 13  Motor Vehicle Theft  110 non-null    float64
 14  Region               110 non-null    object
dtypes: float64(11), int64(1), object(3)
memory usage: 13.8+ KB

In [13]:
##Bring data back together
NYCrimetrim = pd.concat([NYCrime2016, NYCrime2018],axis=0)

In [14]:
NYCrimetrim.info #184 rows, perfect

<bound method DataFrame.info of         County                               Agency  Year  Months Reported  \
1761   Suffolk                     Amityville Vg PD  2017             12.0
1762   Suffolk                      Asharoken Vg PD  2017             12.0
1763   Suffolk                         County Total  2017              NaN
1764   Suffolk                 East Hampton Town PD  2017             12.0
1765   Suffolk                   East Hampton Vg PD  2017             12.0
...        ...                                  ...   ...              ...
1597  Onondaga                    Skaneateles Vg PD  2017             12.0
1598  Onondaga                         Solvay Vg PD  2017             12.0
1599  Onondaga  SUNY Police - Environmental Science  2017             12.0
1600  Onondaga        SUNY Police - Upstate Medical  2017             12.0
1601  Onondaga                     Syracuse City PD  2017             12.0

      Index Total  Violent Total  Murder   Rape  Robbery  Aggravated Assault  \
1761        137.0           11.0     0.0    0.0      5.0                 6.0
1762          2.0            0.0     0.0    0.0      0.0                 0.0
1763      21462.0         1749.0    22.0  161.0    537.0              1029.0
1764        259.0           19.0     0.0    3.0      3.0                13.0
1765         50.0            1.0     0.0    0.0      0.0                 1.0
...           ...            ...     ...    ...      ...                 ...
1597         19.0            1.0     0.0    0.0      0.0                 1.0
1598        158.0           16.0     0.0    1.0      2.0                13.0
1599         17.0            0.0     0.0    0.0      0.0                 0.0
1600        110.0            5.0     0.0    0.0      1.0                 4.0
1601       5826.0         1009.0    20.0   98.0    284.0               607.0

      Property Total  Burglary  Larceny  Motor Vehicle Theft  \
1761           126.0      15.0    109.0                  2.0
1762             2.0       0.0      2.0                  0.0
1763         19713.0    1679.0  16928.0               1106.0
1764           240.0      34.0    194.0                 12.0
1765            49.0       4.0     45.0                  0.0
...              ...       ...      ...                  ...
1597            18.0       1.0     17.0                  0.0
1598           142.0      26.0    106.0                 10.0
1599            17.0       0.0     17.0                  0.0
1600           105.0       7.0     93.0                  5.0
1601          4817.0    1145.0   3301.0                371.0

                 Region
1761  Non-New York City
1762  Non-New York City
1763  Non-New York City
1764  Non-New York City
1765  Non-New York City
...                 ...
1597  Non-New York City
1598  Non-New York City
1599  Non-New York City
1600  Non-New York City
1601  Non-New York City

[184 rows x 15 columns]>

In [16]:
#Export!
NYCrimetrim.to_csv('NYCrime.csv', index = False, header=True)