In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import json

## Read in the files

In [47]:
#Data Source: https://pennshare.maps.arcgis.com/apps/webappviewer/index.html?id=8fdbf046e36e41649bbfd9d7dd7c7e7e
PA2014 = pd.read_csv('../data/PA_CRASH_2014.csv', low_memory=False)
PA2015 = pd.read_csv('../data/PA_CRASH_2015.csv', low_memory=False)
PA2016 = pd.read_csv('../data/PA_CRASH_2016.csv', low_memory=False)
PA2017 = pd.read_csv('../data/PA_CRASH_2017_Statewide.csv', low_memory=False)
PA2018 = pd.read_csv('../data/PA_CRASH_2018.csv', low_memory=False)

In [48]:
# Main Dataframe
files = [PA2014,PA2015,PA2016,PA2017,PA2018]
PA_traffic = pd.concat(files)

In [39]:
PA_traffic.head()    #635505 rows

   COUNTY  CRASH_MONTH  CRASH_YEAR
0      46            2        2014
1      39            5        2014
2      11            4        2014
3       2            1        2014
4       9            1        2014

In [49]:
# Maybe I need to convert to strings to use my .isin trick  ##s = s.astype(str)
#AshevilleTraffic['accident_date'] = pd.to_datetime(AshevilleTraffic['accident_date'])
PA_traffic['COUNTY'] =  PA_traffic['COUNTY'].astype(str)
PA_traffic['CRASH_MONTH'] =  PA_traffic['CRASH_MONTH'].astype(str)

## Trimming

In [ ]:
#Data Dictionary for Counties
COUNTY
01 – ADAMS
02 – ALLEGHENY
03 – ARMSTRONG
04 – BEAVER
05 – BEDFORD
06 – BERKS
07 – BLAIR
08 – BRADFORD
09 – BUCKS
10 – BUTLER
11 – CAMBRIA
12 – CAMERON
13 – CARBON
14 – CENTRE
15 – CHESTER
16 – CLARION
17 – CLEARFIELD
18 – CLINTON
19 – COLUMBIA
20 – CRAWFORD
21 – CUMBERLAND
22 – DAUPHIN
23 – DELAWARE
24 – ELK
25 – ERIE
26 – FAYETTE
27 – FOREST
28 – FRANKLIN
29 – FULTON
30 – GREENE
31 – HUNTINGDON
32 – INDIANA
33 – JEFFERSON
34 – JUNIATA
35 – LACKAWANNA
36 – LANCASTER
37 – LAWRENCE
38 – LEBANON
39 – LEHIGH
40 – LUZERNE
41 – LYCOMING
42 – MCKEAN
43 – MERCER
44 – MIFFLIN
45 – MONROE
46 – MONTGOMERY
47 – MONTOUR
48 – NORTHAMPTON
49 –NORTHUMBERLAND
50 – PERRY
51 – PIKE
52 – POTTER
53 – SCHUYLKILL
54 – SNYDER
55 – SOMERSET
56 – SULLIVAN
57 – SUSQUEHANNA
58 – TIOGA
59 – UNION
60 – VENANGO
61 – WARREN
62 – WASHINGTON
63 – WAYNE
64 – WESTMORELAND
65 – WYOMING
66 – YORK
67 - PHILADELPHIA

In [50]:
###Relevant Cicada counties for 2016:
#Allegheny
#Carbon
#Fayette
#Greene
#Somerset
#Washington
#Westmoreland

PA_Counties = ['2','13','26','30','55','62','64']

In [51]:
#Trim to relevant counties
PA_trim = PA_traffic[(PA_traffic['COUNTY'].isin(PA_Counties))]

In [52]:
#Trim to relevant months
PA_months = ['5','6'] #may and june
PA_trim = PA_trim[(PA_trim['CRASH_MONTH'].isin(PA_months))]

In [53]:
PA_trim.info()  #16773 rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16773 entries, 37633 to 128427
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COUNTY       16773 non-null  object
 1   CRASH_MONTH  16773 non-null  object
 2   CRASH_YEAR   16773 non-null  int64
dtypes: int64(1), object(2)
memory usage: 524.2+ KB

In [54]:
# Update month from numbers to actual name of month

PA_Trim_1 = PA_trim.replace(to_replace = '5',
               value = 'May')

In [55]:
PA_Trim_final = PA_Trim_1.replace(to_replace = '6',
               value = 'June')

In [56]:
PA_Trim_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16773 entries, 37633 to 128427
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COUNTY       16773 non-null  object
 1   CRASH_MONTH  16773 non-null  object
 2   CRASH_YEAR   16773 non-null  int64
dtypes: int64(1), object(2)
memory usage: 524.2+ KB

In [57]:
PA_Trim_final['COUNTY'].unique()

array(['2', '62', '64', '26', '13', '30', '55'], dtype=object)

In [58]:
## Export
PA_Trim_final.to_csv('PA_Traffic_accidents_final.csv', index = False, header=True)